head
    title= title
    link(rel='stylesheet', href='/styles/css/main.css')
    link(rel='stylesheet', href='/styles/css/bootstrap.css')
    link(rel='stylesheet', href='/static/css/font-awesome.min.css')
    script(src="/js/main.js")
    script(src="/js/sweetalert2.all.min.js")
    style.
        .txn-element-card {
            min-width : 500px;
        }
