html
  include includes/head.pug
  body
    include includes/top-nav.pug
    div.d-flex.flex-column.justify-content-center.align-items-center
      h1 Mongo CRUD App - Admin Module
      h2.text-danger 
        i.fa.fa-lg.fa-warning
        span #{message}
      img(src="/img/logo.png")
